frontend/node_modules/*
frontend/.next/*
app-componentes_originais.rar
Site_da_Nutricionista_-_Metodologia.md
Site_da_Nutricionista_-_Metodologia.pdf
Site_da_Nutricionista_-_Topicos_do_Site.md
Site_da_Nutricionista_-_Topicos_do_Site.pdf